<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Service -->
    <add key="DisplayName" value="LogWatcher" />
    <add key="ServiceName" value="LogWatcher" />

    <!-- Monitoring -->
    <add key="MonitoringTargets" value="c:\logs\pf.log;1;0|c:\logs\pa.log;1;0" />
    <add key="TickSleep" value="1000" />

    <!-- Logging -->
    <add key="serilog:minimum-level" value="Debug" />
    <add key="serilog:using:RollingFile" value="SeriLog.Sinks.RollingFile" />
    <add key="serilog:write-to:RollingFile.pathFormat" value="C:\Logs\LogFileWatcher.Service-{Date}.txt" />
    <add key="serilog:write-to:RollingFile.retainedFileCountLimit" value="10" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
  </startup>
</configuration>